<div class="starter-template">
  <h1>Be an Entrepreneur</h1>
  <p class="lead">Sign up today and meet entrepreneur and discuss life changeing ideas</p>
</div>
<div class="col-md-8 col-md-offset-4">
  <a href="/" class="btn btn-primary btn-lg">Signup</a>
  <a href="/" class="btn btn-primary btn-lg">Signin</a>
</div>
